/* ==========================================================================
   Common Light Skin (previously Dirt)
   ========================================================================== */

/* Colors */
$background-color: #e0e0e0 !default;
$text-color: #000000 !default;
$muted-text-color: #6c757d !default;
$primary-color: #333333 !default;
$border-color: #5c5c5c !default;
$footer-background-color: #786e63 !default;
$link-color: #2e2e2e !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $primary-color !default;
$navicon-link-color-hover: mix(#373737, $text-color, 80%) !default;
$code-background-color: #a7a7a7 !default;
$code-background-color-dark: #7d7d7d !default;

/* Syntax Highlighting (light) */
$base00: #c2c2c2 !default;
$base01: #f8f9fa !default;
$base02: #e9ecef !default;
$base03: #6c757d !default;
$base04: #495057 !default;
$base05: #212529 !default;
$base06: #7f7f7f !default;
$base07: #212529 !default;
$base08: #d73a49 !default; /* red */
$base09: #fd7e14 !default; /* orange */
$base0a: #ffc107 !default; /* yellow */
$base0b: #28a745 !default; /* green */
$base0c: #17a2b8 !default; /* cyan */
$base0d: #007bff !default; /* blue */
$base0e: #6f42c1 !default; /* purple */
$base0f: #e83e8c !default; /* magenta */
